.header {
  background-color: var(--bgColor);
  min-height: 200px;
}

.header__item {
  padding-left: 0.5em !important;
}

.header__img {
  padding-right: 0 !important;
  margin-right: 0 !important;
  height: 407px;
  width: 704px;
}
.btn-clr {
  color: #f4f4f5 !important;
}
@media only screen and (max-width: 768px) {
  .header__img {
    height: 225px;
    width: 400px;
  }
}
/* @media only screen and (max-width: 576px) {
  .header__item {
    margin-left: 0rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .header__item {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .header__item {
    margin-left: 4rem;
  }
} */
