.fpage {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.halfform {
  width: 50%;
  flex-direction: column;
  padding-left: 175px;
  padding-right: 175px;
}
.inputform {
  margin-bottom: 15px;
}
.halfpic {
  width: 50%;
  display: block;
}
.tombol-signup {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0d28a6;
  color: white;
  width: 100%;
  align-content: center;
  border-radius: 2px;
  border: 0px;
}
.register-pic {
  height: 900px;
  width: 720px;
}
.kutak {
  height: 34px;
  width: 100px;
}

@media only screen and (max-width: 768px) {
  .halfpic {
    display: none;
  }
  .halfform {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .inputform {
    margin-bottom: 10px;
  }
  .kutak {
    width: 3.5rem;
  }
}
